<div class="data_box">
  <div class="col-md-12">
    <div class="box margin_top_box margin_bottom_box">
      <ng2-smart-table [settings]="settings" [source]="symbolList"></ng2-smart-table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box">
      <canvas baseChart [data]="symbolsCurrencyChartData" [labels]="symbolsCurrencyChart" [chartType]="symbolsCurrencyChartType" [colors]="doughnutChartColours" [options]="doughnutChartCurrencyOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box">
      <canvas baseChart [data]="symbolsRiskChartData" [labels]="symbolsRiskChart" [chartType]="symbolsRiskChartType" [colors]="doughnutChartColours" [options]="doughnutChartRiskOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
