<div class="col-xs-12 sidebar_content">
  <div class="row extra_controllers">
    <i class="icofont icofont-ui-settings"></i>
    <i class="icofont icofont-ui-user"></i>
    <i class="icofont icofont-ui-message"></i>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1><a routerLink="/">Financial portal</a></h1>
    </div>
  </div>
  <div class="row hidden_xs">
    <div class="col-xs-12">
      <div class="sidebar_profile">
        <div class="img_circle col-xs-5"></div>
        <div class="col-xs-6">
          <p>Welcome, Gabriel.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row menu">
    <div class="col-xs-12">
      <ul>
        <li routerLink="/symbols" routerLinkActive="active">Symbols</li>
        <li *ngFor="let symbol of symbols" routerLink="/symbol/{{symbol.id}}" routerLinkActive="active" class="symbol_item">
          {{symbol.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
